<div class="container">

  <!--  header component -->

  <app-header></app-header>

  <!-- content component  -->

  <div class="content">
    <div class="general-information">
      <div class="status" > {{placeformated ? placeformated : 'Enter A Location'}} </div>
      <div class="location" >{{description ? description : 'To Find The Weather' }}</div>
  </div>


    <!-- details component -->

    <div class="detail-section">
      <app-details *ngFor="let detail of details" [detail]="detail"  class="detail">
      </app-details>
    </div>

    <!-- the search input -->
    <div class="city-search-container">
        <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="city-search"  />
    </div>
  </div>
</div>